<app-header></app-header>
<table class="table table-responsive table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col" style="text-align: center;">Descripción</th>
            <th scope="col">Públicación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas">
            <th scope="row">{{ pelicula.id }}</th>
            <td>{{ pelicula.titulo }}</td>
            <td>{{ pelicula.descripcion }}</td>
            <td>{{ pelicula.publicacion }}</td>
            <td><button type="button" class="btn btn-success">Comprar</button></td>
        </tr>
    </tbody>
</table>