<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" role="button" data-toggle="dropdown" aria-haspopup="true">
                  Peliculas
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-primary" [routerLink]="['/peliculas']">{{ peliculas }}</a>
                    <a class="dropdown-item text-primary" href="#">Crear Pelicula</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-primary" href="#">En Desarrollo</a>
                </div>
            </li>
            <!--<li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/peliculas']">{{ peliculas }}</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/listaLibros']">{{ listarLibros }}</a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" role="button" data-toggle="dropdown" aria-haspopup="true">
                  Libros
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-primary" [routerLink]="['/listaLibros']">{{ listarLibros }}</a>
                    <a class="dropdown-item text-primary" href="#">Crear Libro</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-primary" href="#">En Desarrollo</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-danger" (click)="salir()">Cerrar Sesión</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="{{ placeholder }}" (keyup.enter)="buscarElemento(buscarTexto.value, tipoBusqueda)" #buscarTexto>
            <button (click)="buscarElemento(buscarTexto.value, tipoBusqueda)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>
    </div>
</nav>
<label (placeHolderSeleccionado)="procesarTraerPlaceHolder($event)"></label>