<app-header [placeholder]="placeholder" [tipoBusqueda]="tipoBusqueda"></app-header>

<!--<input  type="text" [(ngModel)]= "valor" >
<p> {{valor}} </p>
<input  type="text" [value]= "inicio" >
<input  type="text" value= "{{inicio}}" >-->
<table class="table table-responsive table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col" style="text-align: center;">Descripción</th>
            <th scope="col">Aparición</th>
            <th scope="col">Casa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros">
            <th scope="row">{{ libro.id }}</th>
            <td>{{ libro.nombre }}</td>
            <td data-target="#exampleModal" (onclick)="comprar(libro)">{{ libro.bio }}</td>
            <td>{{ libro.aparicion }}</td>
            <td>{{ libro.casa }}</td>
            <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="comprar(libro)">Comprar</button></td>
        </tr>
    </tbody>
</table>
<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desea Comprar el Libro!! {{nombreValue}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p> {{descValue}} </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ver Otro</button>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
    </div>
</div>